# ───── PYTHON BUILD ARTIFACTS ─────
__pycache__/
*.pyc
*.pyo
*.pyd

# ───── ENVIRONMENTS ─────
.venv

# ───── FLASK / ENV FILES ─────
.flaskenv

# ───── DATABASE FILES ─────
instance/
*.sqlite

# ───── OS / IDE FILES ─────
.idea/
.DS_Store

# ───── BUILD / DIST ─────
build/
dist/
*.egg-info/

# ───── MISC FILES ─────
*.log
*.tmp
*.bak