# ───── IDE & OS FILES ─────
.vscode/
.idea/
.DS_Store

# ───── PYTHON ENVIRONMENTS ─────
.venv/
env/
venv/

# ───── PYTHON CACHE ─────
__pycache__/
*.pyc
*.pyo
*.pyd

# ───── ENVIRONMENT VARIABLES ─────
.flaskenv
.env

# ───── SQLITE DATABASES ─────
instance/
*.sqlite
*.db

# ───── LOGS / TEMP FILES ─────
*.log
*.tmp
*.bak

# ───── BUILD / DIST ─────
build/
dist/
*.egg-info/

pyproject.toml